button,form{
    margin-left: 1em;
    margin-right: 1em;
}

#header{
    text-align: center;
    background-image: url(../img/Teddy-Stuffies.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: burlywood;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    border-radius: 0;
    border-bottom: 10px solid burlywood;
    padding: 2%;
}

#form{
    background-image: url(../img/Teddys.jpg);
}


form{
    font-weight: bold;
    padding: 2%;    
}

.fixTableHead thead th {
    background-color: burlywood;
    position: sticky;
    top: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table,th,tr,td{
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #9d79619a;
}
  
tbody tr:nth-child(even) {
    background-color: rgba(222, 184, 135, 0.65);
}
  

#reset-btn{
    color: burlywood;
    background-color: red;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 10px; 
}

#startCoinCeremony-btn{
    color: yellow;
    background-color: green;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 10px;    
}

#results{
    text-align: center;
    width: auto;
    background-image: url(../img/Teddys.jpg);
    color: black;
    font-weight: bolder;
}

.results:nth-child(odd){
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: auto;
    padding: 1%;
    margin: 1%;
    background-color: #9d79619a;
}
.results:nth-child(even){
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: auto;
    padding: 1%;
    margin: 1%;
    background-color: rgba(222, 184, 135, 0.65);
}

#result0{
    position: relative;
    animation-name: result0;
    animation-duration: 60s;
}
  
@keyframes result0 {
    0%  {opacity: 0;}
    10%    {opacity: 1;}

}

#result1{
    position: relative;
    animation-name: result1;
    animation-duration: 60s;
}
  
@keyframes result1 {
    0%   {opacity: 0;}
    10% {opacity: 0;}
    20%  {opacity: 1;}

}
#result2{
    position: relative;
    animation-name: result2;
    animation-duration: 60s;
}
  
@keyframes result2 {
    0%   {opacity: 0;}
    20% {opacity: 0;}
    30%  {opacity: 1;}

}
#result3{
    position: relative;
    animation-name: result3;
    animation-duration: 60s;
}
  
@keyframes result3 {
    0%   {opacity: 0;}
    30% {opacity: 0;}
    40%  {opacity: 1;}

}
#result4{
    position: relative;
    animation-name: result4;
    animation-duration: 60s;
}
  
@keyframes result4 {
    0%   {opacity: 0;}
    40% {opacity: 0;}
    50%  {opacity: 1;}

}
/* #result5{
    position: relative;
    animation-name: result5;
    animation-duration: 60s;
}
  
@keyframes result5 {
    0%   {opacity: 0;}
    50% {opacity: 0;}
    60%  {opacity: 1;}
} */

#resultBonus{
    position: relative;
    animation-name: resultBonus;
    animation-duration: 60s;
}
  
@keyframes resultBonus {
    0%   {opacity: 0;}
    50% {opacity: 0;}
    60% {opacity: 1;}
}