button,form{
    margin-left: 1em;
    margin-right: 1em;
}

.jumbotron {
    text-align: center;
    background-color: rgb(28, 197, 253);
    color: White;
    border-radius: 0;
    border-bottom: 10px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table,th,tr,td{
    border: 1px solid black;
}

#startCoinCeremony-btn{
    color: yellow;
    background-color: green;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 10px;    
}

.img-spin{
    animation: spin 4s linear 0s infinite normal;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(36deg); }
    20% { transform: rotate(72deg); }
    30% { transform: rotate(108deg); }
    40% { transform: rotate(144deg); }
    50% { transform: rotate(180deg); }
    60% { transform: rotate(216deg); }
    70% { transform:rotate(252deg); }
    80% { transform:  rotate(288deg); }
    90% { transform: rotate(324deg); }
    100% { transform: rotate(360deg); }
  }
